<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= _.slugify(appname) %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="app/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="app/script.js"></script>
  </head>
  <body>
    <h1>Yeah! <%= _.slugify(appname) %> is running!</h1>
  </body>
</html>
